
<body>
<!-- header -->
	<div class="logo_products">
		<div class="container">
			<div >
				<button routerLink="/product/productadd" mat-flat-button color="primary" >Add Product</button>	

				</div>
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="top-brands">
		<div class="container">
			<h3>Products</h3>
			<div class="agile_top_brands_grids">
				<div class="col-md-3 top_brand_left" *ngFor="let product of productdetails;let i=index">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<!-- <div class="tag"><img src="./assets/img/Bike.png" alt=" " class="img-responsive" /></div> -->
							<div class="agile_top_brand_left_grid1">
							
									<div class="snipcart-item block" >
										<div class="snipcart-thumb">
											<a href=""><img title=" " alt=" " src="./assets/img/2.png" /></a>		
											<p>{{product.productName}}</p>
											<div >
												<button class="btn" mat-flat-button color="primary" (click)="addCart(product.productName,product.productId)">Add Cart</button>

															<!-- <input type="submit" name="submit" value="Add to cart" class="button" /> -->
													
															
												
											
												</div>
										</div>
										
									</div>
								
							</div>
						</div>
					</div>
				</div>
			
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</body>

