<router-outlet>
    <div class="agileits_header">
		<div class="w3l_offers">
			<a routerLink="/productlist">Home</a>
		</div>
		
		<div class="product_list_header">  
          

                <fieldset>
                  
				   <button routerLink="/product/productorder" class="button"><img src="./assets/img/cart.png"><span class=""> ({{cartCount}})</span> View your cart</button>
                   
                </fieldset>
          
			</div>
		
		
		<div class="clearfix"> </div>
	</div>
    
</router-outlet>
